@import '~_scss_config/variables';

$input-color  : $color-grey;
$input-height : 25px;

.input {
    width: 100%;
    height: $input-height;

    padding-right: 10px;
    padding-left: 10px;

    border: 2px solid $input-color;
    border-radius: 25px;
}

.input-placeholder {
    &::placeholder {
        color: darken($input-color, 20);
    }
}
