// Colors
$color-gold        : #d7b575;
$color-grey        : #f5f5f5;
$color-grey--dark  : #e4e4e4;
$color-grey--light : #e5e3ea;
$color-purple      : #413C63;
$color-white       : #FFF;

// Font
$font-stack : SANS-SERIF;
